<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/synetis.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery-3.7.1.min.js') }}"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/jquery-confirm.min.css') }}"
    />
    <script src="{{ url_for('static', filename= 'js/jquery-confirm.min.js') }}"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg"
      style="border-bottom: solid 2px #d2d2d2;"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="{{ url_for('static', filename='images/cert.png') }}"
            alt="Bootstrap"
            width="55"
            height="24"
          />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"></li>
          </ul>
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ current_user.username }}
              </a>
              <ul
                id="userinfos"
                class="dropdown-menu dropdown-menu-end"
                style="max-height: 400px; overflow-y: auto; overflow-x: hidden"
              >
              <li><a class="dropdown-item d-flex align-center" href="/logout">Logout</a></li>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">{% block content %} {% endblock %}</div>
    <script>
      const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
      (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
    
    </script>
  </body>
</html>
